<link rel="stylesheet" href="~/css/table.css"/>
<style>
    .filterDiv div,
    .filterDiv p,
    .filterDiv input,
    .filterDiv label {
        font-size: 13px;
    }

    .selectize-input.items.not-full.has-options::after {
        display: none;
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div id="statusDiv" style="display:none;margin-bottom:10px;"></div>
    <div class="d-grid bg-secondary rounded p-4">
        <div class="row mx-2 mb-3 filterDiv">
            <div class="col-6">
                @await Component.InvokeAsync("GetPropertyStatusesComponent", new { view = "ForIndex" })
            </div>
            <div class="col-6">
                <div>Sort</div>
                <div class="btn-group">
                    <input type="radio" class="btn-check" name="sort" value="ascending" id="ascending" autocomplete="off" />
                    <label class="btn btn-primary" for="ascending">Ascending price</label>

                    <input type="radio" class="btn-check" name="sort" value="descending" id="descending" autocomplete="off" />
                    <label class="btn btn-primary" for="descending">Descending price</label>

                    <input type="radio" class="btn-check" name="sort" value="newest" id="newest" autocomplete="off" />
                    <label class="btn btn-primary" for="newest">Newest to oldest</label>

                    <input type="radio" class="btn-check" name="sort" value="oldest" id="oldest" autocomplete="off" />
                    <label class="btn btn-primary" for="oldest">Oldest to newest</label>
                </div>
            </div>
        </div>
        <div class="row mx-2 mb-3 filterDiv">
            <div class="col-6">
                <div>Deal Status</div>
                <div class="btn-group">
                    <input type="radio" class="btn-check" name="status" id="all" value="-1" autocomplete="off" checked />
                    <label class="btn btn-primary" for="all">All</label>

                    <input type="radio" class="btn-check" name="status" id="waitingforclient" value="0" autocomplete="off" />
                    <label class="btn btn-primary" for="waitingforclient">Waiting for client</label>

                    <input type="radio" class="btn-check" name="status" id="sold" value="1" autocomplete="off" />
                    <label class="btn btn-primary" for="sold">Finalized</label>
                </div>
            </div>
            <div class="col-6">
                <div>Price Range</div>
                <div class="btn-group" style="display: flex;align-items: center;">
                    <input class="form-control border-0 w-50" id="minPrice" type="number" placeholder="Min price">&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-minus" style="height:14px;"></i>&nbsp;&nbsp;&nbsp;<input class="form-control border-0 w-50" id="maxPrice" type="number" placeholder="Max price">
                </div>
            </div>
        </div>

        <div class="row mx-2 mb-3 filterDiv">
            <div class="col-6">
                <div>Property Type</div>
                <div class="btn-group">
                    <input type="radio" class="btn-check" name="PropertyType" id="allPropertyTypes" value=0 autocomplete="off" checked />
                    <label class="btn btn-primary" for="allPropertyTypes">All</label>

                    <input type="radio" class="btn-check" name="PropertyType" id="land" value=2 autocomplete="off" />
                    <label class="btn btn-primary" for="land">Land</label>

                    <input type="radio" class="btn-check" name="PropertyType" id="farmland" value=5 autocomplete="off" />
                    <label class="btn btn-primary" for="farmland">Farmland</label>

                    <input type="radio" class="btn-check" name="PropertyType" id="apartment" value=4 autocomplete="off" />
                    <label class="btn btn-primary" for="apartment">Apartment</label>

                    <input type="radio" class="btn-check" name="PropertyType" id="shop" value=1 autocomplete="off" />
                    <label class="btn btn-primary" for="shop">Shop</label>

                    <input type="radio" class="btn-check" name="PropertyType" id="commercialUnit" value=3 autocomplete="off" />
                    <label class="btn btn-primary" for="commercialUnit">Commercial Unit</label>
                </div>
            </div>
            <div class="col-6">
                <div>Search</div>
                <input class="form-control border-0 w-50" id="search" type="search" placeholder="Search">
            </div>
        </div>

        <div class="container d-flex justify-content-center">
            <div class="grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h4 class="mb-0 card-title">Property Listings</h4>
                            <a href="/propertylisting/addlisting" class="btn btn-success" style="color:#ffffff"><i class="fa-solid fa-plus"></i> New listing</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Client</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Commission</th>
                                        <th scope="col">Property Status</th>
                                        <th scope="col">Earning</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Added Date</th>
                                        <th scope="col">Update</th>
                                        <th scope="col">Details</th>
                                        <th scope="col">Deal Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div id="noListingDiv">
                                <div class='alert-warning text-center'>There is no listing.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteListingModal">
                <i class="fa-solid fa-trash"></i> Delete listings
            </button>
        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="paginationContainer">
                </ul>
            </nav>
        </div>
    </div>

    <div class="modal" role="dialog" id="deleteListingModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Delete selected listings?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteListing()">Delete</button>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" role="dialog" id="sellListingModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Listing will be marked as finalized.</h5>
                    <div>
                        <label>You can select the request if it is found among saved ones.</label>
                        <br />
                        <small class="text-warning">If not, do not select it</small>
                        <br />
                        <select id="select-request" class="form-control" placeholder="Select Request">
                        </select>
                    </div>
                    <br />
                    <div>
                        <label>Please enter the earning from this deal</label>
                        <div class="form-group">
                            <input class="form-control" placeholder="Enter earning" type="number" id="earning" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="earning-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#navListing").addClass("active");

        $("input:radio[name='PropertyStatusId']").change(() => {
            getByFilters(1);
        });

        $("input:radio[name='PropertyType']").change(() => {
            getByFilters(1);
        });

        $("input:radio[name='status']").change(() => {
            getByFilters(1);
        });

        $("input:radio[name='sort']").change(() => {
            getByFilters(1);
        });

        $("#search").keyup(() => {
            if ($("#search").val().length > 2 || $("#search").val().length == 0) {
                getByFilters(1);
            }
        });

        $("#minPrice").keyup(() => {
            if ($("#minPrice").val().length > 2 || $("#minPrice").val().length == 0) {
                getByFilters(1);
            }
        });

        $("#maxPrice").keyup(() => {
            if ($("#maxPrice").val().length > 2 || $("#maxPrice").val().length == 0) {
                getByFilters(1);
            }
        });

    });

    function deleteListing() {
        var listingIds = [];
        var listings = $("input[name='listings']");
        listings.each((index, value) => {
            if (value.checked) {
                listingIds.push(value.value);
            }
        });
        if (listingIds.length != 0) {
            $.post("/propertylisting/deletelisting", { idsJson: JSON.stringify(listingIds) }, (data, status) => {
                if (data.success) {
                    sendNotification("success", data.message);
                    setTimeout(() => {
                        location.reload();
                    }, 2000);
                }
                else {
                    sendNotification("error", data.message);
                }
            });
        }
        else {
            sendNotification("error", "Please select listings to delete.");
        }
    }

    function sellListingModal(id, propertyTypeId) {
        fetch(`/propertyrequest/GetRequestsByPropertyType?propertyTypeId=${propertyTypeId}`)
        .then(res=>res.json())
        .then(data=>{
            requests = data.data;
            let html = "<option value='0' selected>Select property request</option>";
            if(requests.length != 0){
                requests.forEach(request=>{
                    html += `
                        <option value='${request.id}'>${request.title} - ${request.propertyType}</option>
                    `;
                })
            }
            $("#select-request").html(html);
        })

        $("#earning-footer").html(`<button type="button" style="color:#ffffff;" class="btn btn-success" data-bs-dismiss="modal" onclick="finalizeListing('${id}')">Finalize</button>
                <button type="button" style="color:#000000;" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>`)
    }

    function finalizeListing(id) {
        $.post("/propertylisting/finalizelisting/" + id, {
            earning: $("#earning").val(),
            requestId: $("#select-request").val()
        }, (data, status) => {
            if (data.success) {
                sendNotification("success", data.message);
                setTimeout(() => {
                    location.reload();
                }, 2000);
            }
            else {
                sendNotification("error", data.message);
            }
        });
    };

    function getByFilters(pageNumber) {
        $("tbody").html('<div class="show d-flex align-items-center justify-content-center w-100"><div class="spinner-border text-primary text-center" style = "width: 3rem; height: 3rem;" role = "status"><span class="sr-only" > Loading...</span></div></div>');
        $.get("/propertylisting/getByFilters", {
            propertyStatusId: $("input:radio[name='PropertyStatusId']:checked").val(),
            propertyType: $("input:radio[name='PropertyType']:checked").val(),
            status: $("input:radio[name='status']:checked").val(),
            minPrice: $("#minPrice").val(),
            maxPrice: $("#maxPrice").val(),
            sort: $("input:radio[name='sort']:checked").val(),
            search: $("#search").val(),
            pageNumber: pageNumber,
            pageSize: 20
        }, (data, status) => {
            if (data.success) {
                var listings = data.data.listings;

                showPageContainer(Math.ceil(data.data.totalListingCount/20));
                showlistings(listings);
            }
        })
        .fail(function (xhr, status) {
            $("tbody").html(`<div class='alert-danger text-center'>An error occuered. Error: ${xhr.responseJSON.Message} - ${status}</div>`);
        });

    }

    function showPageContainer(netPageCount) {
        let html = "";

        for (i = 1; i <= netPageCount; i++) {
            html += `<li class="page-item" style="list-style-type: none;"><button type="button" onclick="getByFilters(${i})" class="page-link">${i}</button></li>`
        }

        $("#paginationContainer").html(html);
    }

    function showlistings(listings) {
        let html="";
        if(listings.length == 0){
            $("#noListingDiv").css("display", "block");
            $("tbody").html("");
        }
        else{
            $("#noListingDiv").css("display", "none");
            for (i = 0; i < listings.length; i++) {
                if (listings[i] != null || listings[i] != undefined) {
                    html += `
                               <tr ${listings[i].status ? "style=background-color:#95d5b2;" : ""}>
                                  <td><input name="listings" class="form-check-input" type="checkbox" value=${listings[i].id}></td>
                                  <td>${listings[i].listingTitle}</td>
                                  <td>${listings[i].clientNameSurname}</td>
                                  <td>${listings[i].propertyType}</td>
                                  <td>${listings[i].price}<i class="fa fa-dollar"></i></td>
                                  <td>${listings[i].commission}<i class="fa fa-dollar"></i></td>
                                  <td>${listings[i].propertyStatusName}</td>
                                  <td>${listings[i].earning}<i class="fa fa-dollar"></i></td>
                                  <td>${listings[i].district}, ${listings[i].city}</td>
                                  <td>${listings[i].addedDate}</td>
                                  <td><a class="btn btn-sm btn-warning" style="color:#ffffff;" href="propertylisting/updatelisting/${listings[i].id}"><i class="fa-solid fa-gear"></i></a></td>
                                  <td><a class="btn btn-sm btn-primary" href="propertylisting/detail/${listings[i].id}">Details</a></td>
                                  <td>
                                      <div class="d-flex justify-content-center align-items-center">
                                           ${listings[i].status ? '<div>Finalized</div>' : `<button type="button" style="height:fit-content;margin-left:10px;color:#ffffff;" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#sellListingModal" onclick="sellListingModal('${listings[i].id}', '${listings[i].propertyTypeId}')">Finalize</button>`}
                                      </div>
                                  </td>
                               </tr>
                            `
                    $("tbody").html(html);
                }
                else {
                    break;
                }
            };
        }
    }

    getByFilters(1);

    var message = '@TempData["success"]';
    if(message != null && message!="")
    {
        sendNotification("success", message);
    }
</script>