@using Shared.Dtos.PropertyListing.Detail
@model CommercialUnitListingDetailDto

<li class="row">
    <strong class="col-5">Square Metersize </strong>|
    <span class="col-6">@Model.SquareMetersize m2</span>
</li>
<li class="row">
    <strong class="col-5">Block Number </strong>|
    <span class="col-6">@Model.BlockNumber</span>
</li>
<li class="row">
    <strong class="col-5">Parsel Number </strong>|
    <span class="col-6">@Model.ParselNumber</span>
</li>
<li class="row">
    <strong class="col-5">Price per Metersize </strong>|
    <span class="col-6">@Model.PricePerSquareMetersize <i class="fa fa-dollar"></i></span>
</li>