<link rel="stylesheet" href="~/css/table.css" />


<div class="container-fluid pt-4 px-4">
    <div id="statusDiv" style="display:none;margin-bottom:10px;"></div>
        <div class="bg-secondary rounded p-4">
            <div class="d-flex justify-content-center mx-2 mb-3">
                <div class="btn-group">
                    <input class="form-control border-0" type="search" id="search" placeholder="Search">
                </div>
            </div>
            <div class="container d-flex justify-content-center">
                <div class="grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h4 class="mb-0 card-title">Clients</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name Surname</th>
                                            <th>Phone Number</th>
                                            <th>Email Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteClientModal">
                    <i class="fa-solid fa-trash"></i> Delete Clients
                </button>
            </div>
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="paginationContainer">
                    </ul>
                </nav>
            </div>
        </div>
</div>

<div class="modal" role="dialog" id="deleteClientModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Delete selected requests?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteClient()">Delete</button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>

    $("#navClient").addClass("active");

    function deleteClient() {
        var clientIds = [];
        var clients = $("input[name='clients']");
        clients.each((index, value) => {
            if (value.checked) {
                clientIds.push(value.value);
            }
        });

        if (clientIds.length != 0) {
            $.post("/client/DeleteClient", { clientsIds: clientIds }, (data, status) => {

                if (data.success) {
                    showStatusDiv("success", data.message, 2000);

                    setTimeout(() => {
                        location.reload();
                    }, 2000);
                }
                else {
                    showStatusDiv("danger", data.message, 2000);
                }
            });
        }
        else {
            showStatusDiv("danger", "Please select the listings to delete.", 2000);
        }
    }

    var clients = [];
    function getByFilters() {
        let search = $("#search").val();

        $("tbody").html('<div class="show d-flex align-items-center justify-content-center w-100"><div class="spinner-border text-primary text-center" style = "width: 3rem; height: 3rem;" role = "status"><span class="sr-only" > Loading...</span></div></div>');
        $.get("/client/searchClient", {
            search: search
        }, (data, status) => {
            if (data.success) {
                clients = data.data;

                let count = clients.length;
                let pageCount = count / 20;
                let netPageCount = Math.floor(pageCount);
                if (pageCount - netPageCount > 0) {
                    netPageCount++;
                }
                showPageContainer(netPageCount);

                showClients(1);
            }
        }
        ).fail(function (xhr, status) {
            $("tbody").html(`<div class='alert-danger text-center'>An error occured. Error: ${xhr} - ${status}</div>`);
        });
    }

    $("#search").keyup(() => {
        if ($("#search").val().length > 2 || $("#search").val().length == 0) {
            getByFilters();
        }
    });

    function showPageContainer(netPageCount) {
        let html = "";
        for (i = 1; i <= netPageCount; i++) {
            html += `
                                 <li class="page-item" style="list-style-type: none;"><button type="button" onclick="showClients(${i})" class="page-link">${i}</button></li>
                        `
        }

        $("#paginationContainer").html(html);
    }

    function showClients(pageNumber) {
        let startIndex = (pageNumber - 1) * 20;
        let finishIndex = pageNumber * 20;
        let html = "";
        if (clients.length == 0) {
            html=`<div class='alert-warning text-center'>Client couldn't be found.</div>`;
        }
        else {
            for (i = startIndex; i < finishIndex; i++) {
                if (clients[i] != null || clients[i] != undefined) {
                    html += `
                          <tr>
                              <td><input name="clients" class="form-check-input" type="checkbox" value=${clients[i].id}></td>
                              <td>${clients[i].nameSurname}</td>
                              <td>${clients[i].phoneNumber}</td>
                              <td>${clients[i].email}</td>
                          </tr>
                        `
                }
                else {
                    break;
                }
            };
        }
        $("tbody").html(html);

    }

    function showStatusDiv(status, message, displayTime) {
        $("#statusDiv").html(`
                <div class="alert-${status}" style="padding:20px;">
                    ${message}
                </div>
            `);
        $("#statusDiv").fadeIn(2000, () => {
            setTimeout(() => {
                $("#statusDiv").fadeOut();
            }, displayTime);
        })
    }

    getByFilters();
</script>