<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-xl-3">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Property Listing Types Chart</h6>
               
                <canvas class="canvas" id="doughnut-chart"></canvas>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Property Listing Status Chart</h6>
                
                <canvas class="canvas" id="doughnut-chart2"></canvas>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Property Requests Types Chart</h6>

                <canvas class="canvas" id="doughnut-chart3"></canvas>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Property Requests Status Chart</h6>

                <canvas class="canvas" id="doughnut-chart4"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Calender</h6>
                </div>
                <div id="calender"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-6">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">To Do List</h6>
                </div>
                <div class="d-flex mb-2">
                    <input class="form-control border-0" type="text" id="taskInput" placeholder="Enter a new task">
                    <button type="button" id="addTask" class="btn btn-primary ms-2">Add Task</button>
                </div>
                <div id="taskList" style="overflow-y:scroll;height:200px;">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/getStatistics.js"></script>
<script>
    $("#navHome").addClass("active");
    getToDoList();
    getStatistics("/getStatistics");
    
    $(document).ready(()=>{
        $("#addTask").click(() => {
            $.post("/task/addTask", { taskText: $("#taskInput").val() },
                (data, status) => {
                    if (data.success) {
                        getToDoList();
                    }
                    else {
                        showErrorMessageOnToDoList(data.message);
                    }
                }
            );
        });

        $(document).on("change", "#taskList input:checkbox", (e) => {
            var taskId = e.target.parentNode.getAttribute("value");
            checked = !e.target.checked;
            $.get("/task/signAsDoneTask?checkedInput=" + checked + "&taskId=" + taskId, (data, status) => {
                if (data.success) {
                    getToDoList();
                }
                else{
                    showErrorMessageOnToDoList(data.message);
                }
            });
        });

        $(document).on("click", "#taskList .deleteTask", (e) => {
            var taskId = e.target.parentNode.parentNode.getAttribute("value");
            $.ajax({
                type: "DELETE",
                url: "/task/deleteTask",
                data: {
                    "taskId": taskId
                }
            }).done(response => {
                if (response.success) {
                    getToDoList();
                }
                else{
                    showErrorMessageOnToDoList(data.message);
                }
            });
        });
    });
    
    function getToDoList(){
        $("#taskList").html('<div id="spinner" class="show d-flex align-items-center justify-content-center w-100" > <div class="spinner-border text-primary text-center" style = "width: 3rem; height: 3rem;" role = "status" > <span class="sr-only" > Loading...</span></div > </div>');
        $.get("/task/getTasks", (data, status) => {
            if(data.success){
                var html="";
                var tasks = JSON.parse(data.data);
                if (tasks.length == 0 || tasks == "" || tasks == null) {
                    html = "<div>There is no task.</div>";
                }
                else {
                    tasks.forEach((data) => {
                        html += `
                            <div class="d-flex align-items-center border-bottom py-2" value="${data.Id}">
                                    <input name="task" class="form-check-input m-0" type="checkbox" ${data.Status ? "" : "checked"}>
                                    <div class="w-100 ms-3">
                                        <div class="d-flex w-100 align-items-center justify-content-between" value="${data.Id}">
                                            <span ${data.Status ? "" : "style='text-decoration:line-through'"}>${data.TaskText}</span>
                                                <button class="btn btn-sm deleteTask"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </div>
                    `;
                    })
                }
                $("#taskList").html(html);
                $("#taskInput").val("");
            }
        })
    }

    function showErrorMessageOnToDoList(message) {
        $("#taskList").html(`<p>${message}</p>`);
    }

    if ('@TempData["nameSurname"]' != null && '@TempData["nameSurname"]' != '') {
        localStorage.setItem("userNameSurname", '@TempData["nameSurname"]');
    }
</script>
