<form asp-action="AddIncomeExpense" method="post" asp-controller="account" class="w-75 mb-5 pt-3">
    <div class="form-group w-100">
        <label for="income">Enter income</label>
        <input name="IncomeExpense" type="hidden" value="income" />
        <input name="Name" id="income" type="text" class="form-control mt-1" placeholder="Income name" />
        <input name="Cost" type="number" class="form-control mt-1" placeholder="Income amount" />
        <button type="submit" class="btn btn-success mt-4" style="color:white;">Add income</button>
    </div>
</form>