@model CommercialUnit

<tr>
    <td scope="row">Square Metersize </td>
    <td>@Model.SquareMeterSize m2</td>
</tr>
<tr>
    <td scope="row">Block Number </td>
    <td>@Model.BlockNumber</td>
</tr>
<tr>
    <td scope="row">Parsel Number </td>
    <td>@Model.ParselNumber</td>
</tr>
<tr>
    <td scope="row">Price per Metersize </td>
    <td>@Model.PricePerSquareMeter</td>
</tr>