<link rel="stylesheet" href="~/css/table.css" />
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .filterDiv div,
    .filterDiv p,
    .filterDiv input,
    .filterDiv label {
        font-size: 13px;
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div id="statusDiv" style="display:none;margin-bottom:10px;"></div>
    <div class="d-grid bg-secondary rounded p-4">
        <div class="row mx-2 mb-3 filterDiv">
            <div class="col-6">
                @await Component.InvokeAsync("GetPropertyStatusesComponent", new { view = "ForIndex" })
            </div>

            <div class="col-6">
                <div>Sort</div>
                <div class="btn-group">
                    <input type="radio" class="btn-check" name="sort" id="newest" value="newest" autocomplete="off" />
                    <label class="btn btn-primary" for="newest">From newest to oldest</label>

                    <input type="radio" class="btn-check" name="sort" id="oldest" value="oldest" autocomplete="off" />
                    <label class="btn btn-primary" for="oldest">From oldest to newest</label>
                </div>
            </div>
        </div>
        <div class="row mx-2 mb-3 filterDiv">
            <div class="col-6">
                <div>Property Type</div>
                <div class="btn-group">
                    <input type="radio" class="btn-check" name="propertyType" id="propertyType" value="0" autocomplete="off" checked />
                    <label class="btn btn-primary" for="propertyType">All</label>

                    <input type="radio" class="btn-check" name="propertyType" id="land" value="2" autocomplete="off" />
                    <label class="btn btn-primary" for="land">Land</label>

                    <input type="radio" class="btn-check" name="propertyType" id="farmland" value="4" autocomplete="off" />
                    <label class="btn btn-primary" for="farmland">Farmland</label>

                    <input type="radio" class="btn-check" name="propertyType" id="apartment" value="5" autocomplete="off" />
                    <label class="btn btn-primary" for="apartment">Apartment</label>

                    <input type="radio" class="btn-check" name="propertyType" id="shop" value="1" autocomplete="off" />
                    <label class="btn btn-primary" for="shop">Shop</label>

                    <input type="radio" class="btn-check" name="propertyType" id="commercialUnit" value="3" autocomplete="off" />
                    <label class="btn btn-primary" for="commercialUnit">Commercial Unit</label>
                </div>
            </div>
            <div class="col-6">
                <div>Search</div>
                <input class="form-control border-0 w-50" type="search" id="search" placeholder="Search">
            </div>
        </div>

        <div class="container d-flex justify-content-center">
            <div class="grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h4 class="mb-0 card-title">Property Requests</h4>
                            <a href="/propertyrequest/addrequest" class="btn btn-success" style="color:#ffffff"><i class="fa-solid fa-plus"></i> New request</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Client Name Surname</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Property Type</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Price Range</th>
                                        <th scope="col">Property Status</th>
                                        <th scope="col">Added Date</th>
                                        <th scope="col">Update</th>
                                        <th scope="col">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteRequestModal">
                <i class="fa-solid fa-trash"></i> Delete Requests
            </button>
        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="paginationContainer">
                </ul>
            </nav>
        </div>
    </div>

    <div class="modal" role="dialog" id="deleteRequestModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Delete selected requests?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteRequest()">Delete</button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $("#navRequest").addClass("active");

    function deleteRequest() {
        const checkboxes = document.querySelectorAll('input[name="request"]:checked');
        const selectedValues = Array.from(checkboxes).map(checkbox => checkbox.value);
        if (selectedValues.length != 0) {
            $.post("/propertyrequest/deleterequest", { idsJson: JSON.stringify(selectedValues) }, (data, status) => {
                if (data.success) {
                    sendNotification("success", data.message);
                    setTimeout(() => {
                        location.reload();
                    }, 2000);
                }
                else {
                    sendNotification("danger", data.message);
                }
            });
        }
        else{
            sendNotification("danger", "Please select requests to delete.");
        }
    }

    $("input:radio[name='PropertyStatusId']").change(() => {
        getByFilters(1);
    });

    $("input:radio[name='propertyType']").change(() => {
        getByFilters(1);
    });

    $("input:radio[name='sort']").change(() => {
        getByFilters(1);
    });

    $("#search").keyup(() => {
        if ($("#search").val().length > 2 || $("#search").val().length == 0) {
            getByFilters(1);
        }
    });

    function getByFilters(pageNumber) {

        $("tbody").html('<div class="show d-flex align-items-center justify-content-center w-100"><div class="spinner-border text-primary text-center" style = "width: 3rem; height: 3rem;" role = "status"><span class="sr-only" > Loading...</span></div></div>');
        $.get("/propertyrequest/getByFilters", {
            propertyStatusId: $("input:radio[name='PropertyStatusId']:checked").val(),
            propertyType: $("input:radio[name='propertyType']:checked").val(),
            sort: $("input:radio[name='sort']:checked").val(),
            search: $("#search").val(),
            pageNumber: pageNumber,
            pageSize: 20
        }, (data, status) => {
            if (data.success) {
                var requests = data.data.requests;

                showPageContainer(Math.ceil(data.data.totalRequestCount/20));
                showRequests(requests);
            }
            else{
                sendNotification("danger", "An error occured while getting the requests. Please try again later.", 2000);
            }
        }
        ).fail(function (xhr, status) {
            $("tbody").html(`<div class='alert-danger text-center'>An error occured. Error: ${xhr} - ${status}</div>`);
        });
    }

    function showPageContainer(netPageCount) {
        let html = "";
        for (i = 1; i <= netPageCount; i++) {
            html += `<li class="page-item" style="list-style-type: none;"><button type="button" onclick="getByFilters(${i})" class="page-link">${i}</button></li>`
        }

        $("#paginationContainer").html(html);
    }

    function showRequests(requests) {
        let html = "";
        if(requests.length == 0){
            $("tbody").html(`<div class="text-warning text-center">There is no request.</div>`);
        }
        for (i = 0; i < requests.length; i++) {
            if (requests[i] != null || requests[i] != undefined) {
                html += `
                         <tr>
                                     <td><input name="request" class="form-check-input" type="checkbox" value=${requests[i].id}></td>
                                     <td>${requests[i].nameSurname}</td>
                                     <td>${requests[i].title}</td>
                                     <td>${requests[i].type}</td>
                                     <td>${requests[i].city}</td>
                                     <td>${requests[i].minPrice} - ${requests[i].maxPrice} <i class="fa fa-dollar"></i></td>
                                     <td>${requests[i].propertyStatus}</td>
                                     <td>${requests[i].addedDate}</td>
                                     <td><a class="btn btn-sm btn-warning" style="color:#ffffff;" href="propertyrequest/updaterequest/${requests[i].id}"><i class="fa-solid fa-gear"></i></a></td>
                                     <td><a class="btn btn-sm btn-primary" href="propertyrequest/detail/${requests[i].id}">Details</a></td>
                         </tr>
                      `
                $("tbody").html(html);
            }
            else {
                break;
            }
        };
    }

    getByFilters(1);

    var message = '@TempData["success"]';
    if (message != null && message != "") {
        sendNotification("success", message);
    }
</script>