@using Shared.Dtos.Client
@model IEnumerable<ClientPageDTO>

@foreach(var item in Model){
    @if (ViewData["clientId"] is not null && ViewData["clientId"].ToString() == item.Id)
    {
        <option value="@item.Id" selected>@item.NameSurname (+90@(item.PhoneNumber))</option>
    }
    else
    {
        <option value="@item.Id">@item.NameSurname (+90@(item.PhoneNumber))</option>
    }
}
